{% extends 'layout.html' %}
{% load humanize %}
{% load static %}

{% block scripts %}
<!--
<script src="{% static "js/lib/three.r98.min.js" %}"></script>
<script src="{% static "js/lib/TrackballControls.js" %}"></script>
<script src="{% static "js/lib/spacekit.js" %}"></script>
-->
<script src="http://localhost:8001/src/lib/three.r98.min.js"></script>
<script src="http://localhost:8001/src/lib/TrackballControls.js"></script>
<script src="http://localhost:8001/build/spacekit.js"></script>
<script>
window.EPHEMERIS = {
  a: {{object.a}},
  e: {{object.e}},
  i: {{object.i}},
  om: {{object.om}},
  w: {{object.w}},
  ma: {{object.ma}},
  epoch: {{object.epoch}}
}
</script>
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}
<header class="site-header">
  <h1 class="mainheading">{{object.name}}</h1>
  <h2 class="subheading">{{object.fullname}}</h2>
</header>
<div>
  <div class="item-container col-sm-8">
    <div class="item-container__inner">
      <h3>Overview</h3>
      <p>
      {{object.name}} is a large asteroid that orbits between Mars and Jupiter in the outer reaches of the main asteroid belt.  NASA JPL has
      {% if object.is_pha and object.is_neo %}
        classified {{object.name}} as a "Potentially Hazardous Object" due to its predicted close pass(es) with Earth.
      {% elif not object.is_pha and object.is_neo %}
        classified {{object.name}} as a "Near Earth Object" due to its proximity to Earth, but is not considered potentially hazardous because simulations have indicated very low likelihood for collision.
      {% elif not object.is_pha and not object.is_neo %}
        does not classify {{object.name}} as potentially hazardous because its orbit does not bring it close to Earth.
      {% endif %}
      </p>

      <p>
      {{object.name}} was discovered in 1989.  Its orbit brings it around the sun every {{object.sbdb_entry.per|floatformat:0|intcomma}} days.  Its orbit brings it as close as 0.1 AU to the sun and extends 0.8 AU from the sun.
      {{object.name}} is about 50 kilometers in diameter, making it larger than the average asteroid, comparable in size to the city of Boston.
      </p>

      <p>
      The rotation of {{object.name}} has been observed. It completes a rotation on its axis every {{object.sbdb_entry.rot_per|floatformat:2}} days.
      </p>

      <p>
      {{object.name}}'s spectral type {{object.sbdb_entry.spec_T}} (<a href="http://adsabs.harvard.edu/abs/1989aste.conf..298T">Tholen</a>) / {{object.sbdb_entry.spec_B}} (<a href="http://smass.mit.edu/smass.html">SMASSII</a>) indicates that it contains iron, water, and small amounts of platinum.
      </p>

      <h3>Close Approaches</h3>
      <p>
      {{object.name}}'s orbit is {{object.sbdb_entry.moid}} AU from Earth's orbit at its closest point.
      {% if object.sbdb_entry.moid > 0.001 %}
        This means there is a wide berth between this asteroid and Earth at all times.
      {% endif %}
      </p>
      <p>
      {% if object.closeapproach_set.all|length < 1 %}
        Orbital simulations conducted by NASA JPL's CNEOS do not show any close approaches to Earth.
      {% else %}
        <p>
          {{object.name}} has 3 close approaches predicted in the coming decades.  The soonest close approach will be on May 3rd, 2029 and the object will pass within 250,000 km of Earth.
        </p>
        <ul>
        {% for close_approach in object.closeapproach_set.all %}
          <li>{{close_approach.dist_min}} km from Earth</li>
        {% endfor %}
        </ul>
      {% endif %}
      </p>
      <h3>Images and Observations</h3>
      {{object.name}} was first observed on {{object.sbdb_entry.first_obs}}.
      <h3>Accessibility and Exploration</h3>
      This object is not considered accessible by the <a href="https://cneos.jpl.nasa.gov/nhats/details.html#?des=2000%20SG344&dv=6&dur=360&stay=8&launch=2015-2040">NHATS study</a>.
      <h3>Similar Objects</h3>
      These asteroids have orbits that share similar characteristic to the orbit of {{object.name}}:
      <ul>
      {% for similar in object.get_similar_orbits %}
        <li>
          <a href="/asteroid/{{similar.slug}}">{{similar.fullname}}</a>
        </li>
      {% endfor %}
      </ul>
      <h3>References</h3>
      <ul>
        <li><a rel="nofollow" href="https://ssd.jpl.nasa.gov/sbdb.cgi?sstr={{object.sbdb_entry.pdes}}">JPL Small Body Database</a></li>
        <li><a rel="nofollow" href="https://in-the-sky.org/findercharts.php?objtxt=A{{object.sbdb_entry.pdes}}&duration=5">Sky Finder Chart</a></li>
      </ul>
    </div>
  </div>
  <div class="item-container item-container__rightside col-sm-4">
    <div class="item-container__inner">
      <h3>Key Facts</h3>
      <ul class="keyfacts">
        <li>{{object.name}} is classified as a <strong>{{object.get_orbit_class}}</strong></li>
        {% if object.is_neo %}
        <li>Classified as a Near Earth Object (NEO)</li>
        {% else %}
        <li>Not a Near Earth Object (NEO)</li>
        {% endif %}
        {% if object.is_pha %}
        <li>Classified as a Potentially Hazardous Object (PHA)</li>
        {% else %}
        <li>Not a Potentially Hazardous Object (PHA)</li>
        {% endif %}
        <li>Will come within 50,000 miles of Earth in 2027</li>
        <li>Comparable in size to {{object.get_diameter_comparison}} ({{object.sbdb_entry.diameter | floatformat:0}} km diameter)</li>
      </ul>
    </div>
  </div>
  <div class="item-container item-container__rightside col-sm-4">
    <div class="item-container__inner">
      <h3>Orbital Elements</h3>
      <ul class="keyfacts">
        <li>Epoch: {{object.epoch}} JD</li>
        <li>Semi-major axis: {{object.a | floatformat:5}}</li>
        <li>Eccentricity: {{object.e | floatformat:5}}</li>
        <li>Inclination: {{object.i | floatformat:5}}</li>
        <li>Longitude of Ascending Node: {{object.om | floatformat:5}}</li>
        <li>Argument of Periapsis: {{object.w | floatformat:5}}</li>
        <li>Mean Anomaly: {{object.ma | floatformat:5}}</li>
      </ul>
    </div>
  </div>
  <div class="item-container item-container__rightside col-sm-4">
    <div class="item-container__inner">
      <h3>Search</h3>
      <div class="react-search"></div>
    </div>
  </div>
  <div class="item-container col-sm-12">
    <div class="item-container__inner">
      <h3>Orbital Simulation</h3>
      <div id="vis-container"></div>
    </div>
  </div>
</div>
{% endblock %}
