{% extends 'layout.html' %}
{% load static %}

{% block scripts %}
<script src="{% static "js/lib/three.r98.min.js" %}"></script>
<script src="{% static "js/lib/TrackballControls.js" %}"></script>
<script src="{% static "js/lib/spacekit.js" %}"></script>
<script>
window.EPHEMERIS = {
  a: {{space_object.a}},
  e: {{space_object.e}},
  i: {{space_object.i}},
  om: {{space_object.om}},
  w: {{space_object.w}},
  ma: {{space_object.ma}},
  epoch: {{space_object.epoch}}
}
</script>
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}
<h1>SpaceDB</h1>
<div class="intro">
  <p>
    Welcome to see this single object!
  </p>
</div>
<div>
  <div class="item-container col-sm-4">
    <h2 id="name">{{space_object.name}}</h2>
    <h2>{{space_object.fullname}}</h2>
    <h2>{{space_object.a}}</h2>
    <h2>{{space_object.e}}</h2>
    <h2>{{space_object.i}}</h2>
    <h2>{{space_object.om}}</h2>
    <h2>{{space_object.w}}</h2>
    <h2>{{space_object.ma}}</h2>
    <h2>{{space_object.epoch}}</h2>
    {% for close_approach in space_object.closeapproach_set.all %}
      <h2>{{close_approach.dist_min}}</h2>
    {% endfor %}
  </div>
  <div id="vis-container">
  </div>
</div>
{% endblock %}
