{% extends 'layout.html' %}
{% load humanize %}
{% load static %}

{% block title%}{{orbit_class.name}}s | Space Reference{% endblock %}

{% block scripts %}
<script src="{% static "js/lib/three.r98.min.js" %}"></script>
<script src="{% static "js/lib/TrackballControls.js" %}"></script>
<script src="{% static "js/lib/spacekit.js" %}"></script>
<script src="{% static "js/orbitDiagram.js" %}"></script>
<script src="{% static "js/lib/d3.v2.js" %}"></script>
<!--
<script src="http://localhost:8001/src/lib/three.r98.min.js"></script>
<script src="http://localhost:8001/src/lib/TrackballControls.js"></script>
<script src="http://localhost:8001/build/spacekit.js"></script>
-->
<script>
window.OBJECT_DEFINITIONS = [
];
window.VIZ_SIMULATION_OPTS = {
  jedPerSecond: 40,
};
window.VIZ_OBJECT_OPTS = {
  ecliptic: {
    displayLines: false,
  },
};

function selectOrbit(domElement) {
  window.spaceobjects[domElement.dataset.slug].getOrbit().setHexColor(0xff0000);
}
function deselectOrbit(domElement) {
  window.spaceobjects[domElement.dataset.slug].getOrbit().setHexColor(0xffffff);
}
</script>
<script src="{% static "js/main.js" %}"></script>
<script>
init3dVis();
</script>
{% endblock %}

{% block header %}
<header class="site-header">
  <div class="topnav">
    <strong><a href="/" class="nav-link">Space Reference</a></strong>
  </div>
</header>
{% endblock %}

{% block content %}
<div>
  <div class="item-container col-sm-4">
    <div class="item-container__inner">
      <h3>Search</h3>
      <div class="react-search-and-visualize"></div>
    </div>
  </div>
  <div class="item-container col-sm-8">
    <div class="item-container__inner">
      <div class="vis-panel">
        <div class="vis-controls">
          <button class="vis-controls__slower">Slower</button>
          <button class="vis-controls__faster">Faster</button>
          <button class="vis-controls__set-date">Set Date</button>
          <span class="vis-status"></span>
        </div>
        <div id="orbit-sim" class="vis-container vis-container__detail"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
